.carousel-item img{
    width: 1100px;
    height: 328px;
    border-radius: 20px;
}
.carousel-inner{
  width: 1181px;
    border-radius: 20px;
}
.carousel-item{
    width: 100%;
    position: relative;

}
.carousel{
    width: 1181px
}
.circle{
    position: absolute;
    top: 39%;
    right: -3%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: white;
}
.circle2{
    position: absolute;
    top: 39%;
    left: -3%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: white;
}













.carousel-control-prev,
.carousel-control-next {
  width: 60px !important;
  height: 60px !important;
  border-radius: 50% !important;
  background-color: #fff !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.75);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%) !important;
  width: 30px !important;
  height: 30px !important;
}

.carousel-control-prev {
  left: -40px !important;
}

.carousel-control-next {
  right: -40px !important;
}